header{
    text-align: center;
    background-color: rgb(7, 243, 164);
    color: rgb(172, 130, 95);
}
#petnames{
    text-align: center;
    color: cadetblue;
    background-color: blanchedalmond;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(162, 154, 240);
    color: white;
    text-align: center;
}
.bg-color{
    background-color: rgb(7, 243, 164);
    color: white
}